<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Criar Agendamento</title>
</head>
<body>
    <h1>Criar Agendamento</h1>
    <form action="{{ url_for('agendamento.create_agendamento') }}" method="post">
        <label for="data_emissao">Data de Emissão:</label>
        <input type="date" id="data_emissao" name="data_emissao" required><br>

        <label for="data_agendamento">Data de Agendamento:</label>
        <input type="date" id="data_agendamento" name="data_agendamento" required><br>

        <label for="status">Status:</label>
        <input type="text" id="status" name="status" required><br>

        <label for="hora_ini">Hora Inicial:</label>
        <input type="time" id="hora_ini" name="hora_ini"><br>

        <label for="hora_fim">Hora Final:</label>
        <input type="time" id="hora_fim" name="hora_fim"><br>

        <label for="moradores_cpf">CPF do Morador:</label>
        <input type="text" id="moradores_cpf" name="moradores_cpf" required><br>

        <label for="espacos_codigo">Código do Espaço:</label>
        <input type="text" id="espacos_codigo" name="espacos_codigo" required><br>

        <button type="submit">Criar</button>
    </form>
    <a href="{{ url_for('agendamento.list_agendamentos') }}">Voltar</a>
</body>
</html>
