<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Agendamento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Visualizar Agendamento</h1>
    <p><strong>Código:</strong> {{ agendamento[0] }}</p>
    <p><strong>Data de Emissão:</strong> {{ agendamento[1] }}</p>
    <p><strong>Data de Agendamento:</strong> {{ agendamento[2] }}</p>
    <p><strong>Status:</strong> {{ agendamento[3] }}</p>
    <p><strong>Hora Inicial:</strong> {{ agendamento[4] }}</p>
    <p><strong>Hora Final:</strong> {{ agendamento[5] }}</p>
    <p><strong>Moradores CPF:</strong> {{ agendamento[6] }}</p>
    <p><strong>Espaços Código:</strong> {{ agendamento[7] }}</p>
    <a id="btn_default" href="{{ url_for('agendamento.list_agendamentos') }}">Voltar</a>
</body>
</html>
