<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Espaço</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Visualizar Espaço</h1>
    <p><strong>Código:</strong> {{ espaco[0] }}</p>
    <p><strong>Nome:</strong> {{ espaco[1] }}</p>
    <p><strong>Descrição:</strong> {{ espaco[2] }}</p>
    <p><strong>Status:</strong> {{ espaco[3] }}</p>
    <p><strong>Capacidade:</strong> {{ espaco[4] }}</p>
    <a id="btn_default" href="{{ url_for('espaco.list_espacos') }}">Voltar</a>
</body>
</html>
